.PlayTable {
	&__hand {
		position: absolute;
		left: 50%;
		bottom: 0;
	}

	&__board {
		position: absolute;
		top: 0;
		left: 0;
	}

	&__player {
		&__hand {
			position: absolute;
			right: 50%;
		}

		&__decks {
			&__deck {
				display: inline-block;
				margin-left: 1em;
			}
		}

		&__hand {
			bottom: 1em;
		}
	}

	&__opponentDecks {
		font-size: 0.4em;
		
		&__rot {
			&__opp {
				display: inline-block;
				margin-right: 5em;
			}
		}
	}
	
	&__newGamePanel {
		position: fixed;
		top: 0;
		right: 0;
		background: #112;
		font-size: 2em;
		padding: 0.5em 1em;
		z-index: 1;

		&__start {
			margin-left: 0.5em;
		}
	}

	&__cardPool {
		font-size: 1vh;
	}
}