.CharacterSelect {
	position: absolute;

	top: 5%;
	left: 10em;
	right: 10em;

	max-height: 90%;

	background-color: #556;
	box-shadow: 0.5em 0.5em 3em 0 rgba(0, 0, 0, 0.5);
	z-index: 1;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;

	padding: 2em;

	&__playerDetails {
		padding: 1em;
		
		&__name {
			background-color: #889;
			color: inherit;
			width: 100%;
			box-sizing: border-box;
			font-size: 2em;
			font-weight: bold;
			font-family: inherit;
			border: none;
			outline: none;
			padding: 1em 2em;

			&::placeholder {
				color: #CCD;
			}
		}
	}

	&__characters {
		flex: 1 1 auto;
		display: flex;
		flex-wrap: wrap;

		overflow-x: visible;
		overflow-y: auto;

		&__character {
			position: relative;
			flex: 0 0 auto;
			background: #223;
			width: 20em;
			height: 30em;
			margin: 1em;
			cursor: pointer;

			&__name {
				font-weight: bold;
				font-size: 2em;
				padding: 0.5em 1em;
				background: #112;
			}

			&__stats {
				padding: 1em;
				font-size: 1.2em;

				&__mono {
					font-family: monospace;
				}
			}

			&__border {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				border-width: 0.5em;
				border-style: solid;

				pointer-events: none;
			}
		}
	}

	&__controls {
		flex: 0 0 auto;
		text-align: right;
		margin-top: 1em;

		&__button {
			display: inline-block;

			background-color: #223;
			padding: 1em;
			cursor: pointer;

			&:hover {
				background-color: #334;
			}

			&:active {
				background-color: #112;
			}

			&--disabled {
				pointer-events: none;
				opacity: 0.5;
			}
		}
	}
}