.CardPool {
	white-space: pre;
		
	&__deck {
		display: inline-block;
		margin-right: 1em;

		&__label {
			display: flex;

			&__text {
				flex: 1 1 auto;

				font-weight: bold;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				text-align: right;

				&::after {
					content: ":";
				}
			}
			&__cost {
				flex: 0 0 auto;

				color: orange;
				vertical-align: middle;
				margin-left: 0.5em;

				&::after {
					content: "";
					margin-top: 0.25em;
					display: inline-block;
					background-image: url("/assets/coin.png");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center center;
					vertical-align: middle;
					width: 1em;
					height: 1em;
				}
			}
		}
	}
}