.BoardSpace {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #556;
	border: 2px #223 solid;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
	cursor: pointer;

	&__center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		height: 20px;
		width: 20px;
		background-color: #445;
		box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.25);
	}
}