.App {
	&__decks {
		position: absolute;
		top: 10px;
		left: 50px;
		transform: rotate(-90deg) translateX(-100%);
		transform-origin: top left;

		&__deck {
			display: inline-block;
			margin-right: 10px;
		}
	}
}