.AbilityStatItem {
	margin-bottom: 2px;

	&__name {
		background: #445;
		box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
		padding: 1px 3px;
		cursor: pointer;

		&:hover {
			background-color: #556;
		}
	}

	&__viewer {
		position: fixed;
		width: 300px;
		pointer-events: none;
		transform: translateX(-50%);
	}
}