.PlayTable {
	&__hand {
		position: absolute;
		left: 50%;
		bottom: 0;
	}

	&__board {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__player {
		position: absolute;
		right: 1em;
		bottom: 0;

		&__hand {
			position: fixed;
			right: 50%;
		}

		&__decks {
			&__deck {
				display: inline-block;
				margin-left: 1em;
			}
		}

		&__hand {
			bottom: 1em;
		}
	}

	&__opponentDecks {
		position: absolute;
		top: -20em;
		right: 1em;
		font-size: 0.4em;
		transform: rotate(-90deg);
		transform-origin: bottom right;

		&__opp {
			display: inline-block;
			margin-right: 1em;
		}
	}
	
	&__decks {
		position: absolute;
		top: 1em;
		left: 5em;
		transform: rotate(-90deg) translateX(-100%);
		transform-origin: top left;
		white-space: pre;
			
		&__deck {
			display: inline-block;
			margin-right: 1em;

			&__label {
				&__text {
					font-weight: bold;
					display: inline-block;

					&::after {
						content: ":";
						margin-bottom: 0.5em;
					}
				}
				&__cost {
					display: inline-block;
					color: orange;

					&::after {
						content: "";
						margin-top: 0.25em;
						transform: rotate(90deg);
						display: inline-block;
						background-image: url("/assets/coin.png");
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
						width: 1em;
						height: 1em;
					}
				}
			}
		}
	}
}