.Deck {
	position: relative;
	width: 12.5em;

	&__empty {
		width: 12.5em;
		height: 17.5em;
		border-radius: 1em;
		border: 1em dashed #445;
		box-sizing: border-box;
	}

	&__inner {
		&__label {
			margin-top: 0.5em;
			width: 100%;
			color: yellow;
			font-size: 1.5em;
		}
		
		&__cards {
			display: inline-block;
			position: relative;
			width: 12.5em;
			height: 17.5em;
			
			&__card {
				position: absolute;
				z-index: 1;
				left: 0,
			}

			&__fill {
				background: magenta;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 0;
				border-radius: 0 0 1em 1em;
				background-image: linear-gradient(to bottom, #FEFEFE 0%,#999 100%);

				&::after {
					content: "";
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					height: 17.5em;
					border-radius: 1em;
					box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.75);
				}
			}
		}
	}

	&--disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}