.PlayerDecks {
	&__label {
		color: yellow;
		display: inline-block;
		writing-mode: tb;
		font-size: 30px;
	}
	
	&__deck,
	&__discard {
		display: inline-block;
	}

	&__deck {
		margin-right: 10px;
	}
}